#home .image {
  position: relative;
  overflow: visible;
}

#home .image img {
  display: block;
  width: auto;
  height: auto;
  max-height: 80vh;
  max-width: 80%;
  margin: 0 auto;
  object-fit: contain;
  object-position: top center;
}
